USE [MangaReaderDB]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/19/2025 6:59:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[AvatarUrl] [nvarchar](255) NULL,
	[IsAdmin] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Username], [Email], [PasswordHash], [AvatarUrl], [IsAdmin], [CreatedAt]) VALUES (3, N'2', N'2', N'$2a$11$m5vI9yVmeVM7ONpdJXetoedo38wGy/tmC6l4mb4hGKaBBBsLQGvpm', N'1', 1, CAST(N'2025-03-10T04:24:25.8878179' AS DateTime2))
INSERT [dbo].[Users] ([UserId], [Username], [Email], [PasswordHash], [AvatarUrl], [IsAdmin], [CreatedAt]) VALUES (4, N'3', N'3', N'$2a$11$eVfQOUUNLqThUIfaFt/T.ughX.s2fS4c/5y77uVB/hLvPRtnkjSCq', N'1', 1, CAST(N'2025-03-10T04:31:04.0031681' AS DateTime2))
INSERT [dbo].[Users] ([UserId], [Username], [Email], [PasswordHash], [AvatarUrl], [IsAdmin], [CreatedAt]) VALUES (5, N'b', N'b', N'', N'1', 1, CAST(N'2025-03-10T04:36:15.6024728' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsAdmin]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
